<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CreateIssue</title>
    <link rel="stylesheet" href="/css/tableStyle.css">
    <link rel="stylesheet" href="/css/generalStyle.css">
</head>
<body>
<h1>Create Issue</h1>
<a href="/issues">
</a>
<ul class="exception">
    <#list validationErrors as error>
    <li>${error?html}</li>
    </#list>
</ul>
<form class="inline-button" method='post'>
    <#escape x as x?html>
    <p>
    <h2>Name: </h2>
        <input class="text-type" type="text" name="issueName" placeholder="Task name..." value="${issueName}">
    </p>
    <p>
    <h2>Description: </h2><br>
        <textarea class="text-area" name="description">${description}</textarea>
    </p>
</#escape>
    <input class="bubbly-button" type="submit" value="Save">
</form>
<a href="/issues">
    <input class="bubbly-button" type="submit" value="Cancel">
</a>
</body>
</html>