<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/staticFiles" href="my.staticFiles">
    <link rel="stylesheet" href="/css/tableStyle.css">
    <link rel="stylesheet" href="/css/generalStyle.css">
    <title>IssueTracker</title>
</head>
<h1>
    ${issue.getName()}
</h1>
<p class="indent">
<h2>Status: </h2>
<h3>${issue.getStatus().getName()}</h3><br>
<h2>Start date: </h2>
<h3>${issue.getDate()}</h3><br>
<h2>Author: </h2>
<h3>${issue.getAuthor()}</h3><br>
<h2>Description: </h2><br>
<h3>${issue.getDescription()}</h3><br>
<h2>Comments: </h2><br>
<#list comments as comment>
    <h2>Update by </h2>
    <h3>${comment.getAuthor()} </h3>
    <h3>${comment.getDate()}</h3>
    <#if comment.getAuthor() = userName>
        <a href='/updateComment?commentId=${comment.getId()}'>
            <h3 class="min">[update]</h3><br>
        </a>
        <#else><br>
    </#if>

    <h2>Status changed to </h2>
    <h3>${comment.getStatus().getName()}</h3><br>

    <h2>Comments </h2>
    <h3>${comment.getName()}</h3>
    <#if comment.getAuthor() = userName>
        <a href="/deleteComment?commentId=${comment.getId()}" >
        <h3 class="min">[delete]</h3><br>
        </a>
        <#else><br>
    </#if>
</#list>
</p>
<br>
<div class="round">
    <form class="inline-button" action="/createComment?issueId=${issue.getId()}" method="post">
        <h2>Add Comment: </h2><br>
        <ul class="exception">
            <#list validationErrors as error>
                <li>${error}</li>
            </#list>
        </ul>
        <h2>Status</h2>
        <select class="text-type" id="statusId" name="status">
            <#list statuses as status>
                <option value="${status.getId()}">
                    ${status.getName()}
                </option>
            </#list>
        </select>
        <br>
        <h2>Text</h2>
        <br>
        <textarea class="text-area" type="text" name="text"></textarea><br>
        <input class="bubbly-button" type="submit" value="Add"><br>
    </form>
</div>
<a href='/update?issueId=${issue.getId()}'>
    <input class="bubbly-button" type="submit" ${hiddenUpdate} value="Update">
</a>
<form class="inline-button" action='/issues' method='get'>
    <input class="bubbly-button" type="submit" value="Cancel">
</form>
<form class="inline-button" action="/delete?issueId=${issue.getId()}" method='post'>
    <input class="bubbly-button" type="submit" ${hiddenDelete} value="Delete">
</form>
</body>
</html>