<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/tableStyle.css">
    <link rel="stylesheet" href="/css/generalStyle.css">
    <title>IssueTracker</title>
</head>
<body>
<h1>
    Update Issue
</h1>
<ul class="exception">
    <#list validationErrors as error>
    <li>${error?html}</li>
    </#list>
</ul>
<form class="inline-button" method='post'>
    <p>
    <h2>Name: </h2>
    <input class="text-type" type="text" name="issueName" placeholder="${issue.getName()?html}">
    </p>
    <p>
    <h2>Status </h2>
        <select class="text-type" id="status" name="status">
            <#escape x as x?html>
            <#list statuses as status>
                <#if status.getId() == issue.getStatus().getId()>
            <option value="${status.getId()?html}" selected>${status.getName()}</option>
                <#else>
            <option value="${status.getId()?html}">${status.getName()}</option>
                </#if>
            </#list>
        </select>
    </p>
    <p>
<h2>Description: </h2><br>
        <textarea class="text-area" type="text" name="description">
                ${issue.getDescription()?html}
            </textarea>
    </p>
</#escape>
    <input class="bubbly-button" type="submit" value="Save">
</form>
<a href="/show?issueId=${issue.getId()?html}"><input class="bubbly-button" type="submit" value="Cancel"></a>
</body>
</html>